footer {
    color: $light_grey;
    font-size: $smallfont;
    height: auto;
    text-align: center;
    padding-top: 5%;
padding-bottom: 1%;
    @media screen and (min-width: $tablet) {
        margin: none;
    }
    @media screen and (min-width: $desktop) {
       padding: 18px 0;
       text-align: left;
    }
}