@import 'reset';
// fonts
@font-face {
    font-family: 'open_sans';
    src: url('../../assets/fonts/opensans-bold-webfont.eot');
    src: url('../../assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/opensans-bold-webfont.woff') format('woff'), url('../assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../assets/fonts/opensans-bolditalic-webfont.eot');
    src: url('../../assets/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../../assets/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../assets/fonts/opensans-light-webfont.eot');
    src: url('../../assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/opensans-light-webfont.woff') format('woff'), url('../../assets/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../assets/fonts/opensans-lightitalic-webfont.eot');
    src: url('../../assets/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/opensans-lightitalic-webfont.woff') format('woff'), url('../../assets/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: lighter;
    font-style: italic;
}

//colors
$black: black;
$white: white;
$light_grey: #c2c2c2;
//sizes
$padding1: 20px;
$smallfont: 0.87rem;
//fonts
$font_0: 'open_sans',
serif;
html {
    font-size: 16px;
}

body {
    background-color: $black;
    width: 100%;
    height: auto;
    color: $white;
    font-family: $font_0;
    @media screen and (min-width: 1000px) {
        padding-left: $padding1;
    }
}
a{
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 50%;
    height: auto;
    transform: translateY(50%);
    .logo {
        padding-bottom: $padding1;
    }
    .search_options {
        margin-left: $padding1;
    }
    p {
        padding-bottom: $padding1;
    }
    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
    @media screen and (min-width: 1000px) {
        justify-content: flex-start;
        flex-direction: row;
        padding-left: $padding1;
    }
}


footer {
    color: $light_grey;
    font-size: $smallfont;
    position: absolute;
    bottom: 0;
    height: auto;
    display: inline-block;
    text-align: center;
}

.stories {
    display: flex;
    flex-flow: wrap;
    .links {
     width: 25%;
}   
     
}
.loading_thing{
        display:none;
        height: 100px;
    }

.articles {
    height: 400px;
    background-size: cover;
    background-position: center center;
 
    p{
        text-decoration: none;
        color: $white;
        background-color: $black;
        opacity: 0.75;
        text-align: left;
        
    }
}

